spring:
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: none
            show-sql: true
    datasource:
        url: jdbc:postgresql://localhost:5432/mydatabase
        username: your_username
        password: your_password
        driver-class-name: org.postgresql.Driver
    mail:
        host: smtp.gmail.com
        port: 587
        username: your_username
        password: your_password
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
springdoc:
    swagger-ui:
        path: /api/v1/swagger
    api-docs:
        path: /api/v1/api-docs
business:
    email: test@test.com
captcha:
    apikey: 12345f
server:
    port: 8080
