spring:
    jpa:
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: none
            show-sql: true
    datasource:
        url: jdbc:postgresql://db:5050/dispiele
        driver-class-name: org.postgresql.Driver
    mail:
        host: smtp.gmail.com
        port: 587
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                    connectiontimeout: 5000
                    timeout: 5000
                    writetimeout: 5000
                    socketFactory:
                        port: 465
                        class: javax.net.ssl.SSLSocketFactory
springdoc:
    swagger-ui:
        path: /api/v1/swagger
    api-docs:
        path: /api/v1/api-docs
server:
    port: 8080
